<br><br><br><br>
<div class="container">
    <h1><%= User.name %></h1><br>
    <h3><%= User.title %></h3>
    <hr>
    <h3> contact: <%= User.email %></h3>

    <a class="btn btn-medium btn-primary" href="/user/edit/<%= User.id %>">Edit!</a>
</div>
